<a href="https://colab.research.google.com/github/mangaraiarchana/demo-github/blob/main/9th%20dec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# area of rectangle
L =10
B =3
a = L * B
print(a)

30

In [19]:
x = int(input("enter length value "))
y = int(input("enter breadth value "))
a = x * y
print(a)

enter length value 2
enter breadth value 3
6

In [20]:
print(x)

2

In [23]:
print(10 * 'archu ')

archu archu archu archu archu archu archu archu archu archu

In [28]:
print('mangarai '  + 'archana')

mangarai archana

In [33]:
print('@ ' + '6')

@ 6

In [35]:
x = int(input("enter length value "))
y = int(input("enter breadth value "))
a = x * y
print(a)

enter length value 10
enter breadth value 5
50

In [43]:
name = input("enter a name ")
Age = input("enter age ")
print('my name is' , name, 'and my age is '  + Age )

enter a name archana
enter age 2
my name is archana and my age is 2